@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

//@font-face {
//  font-family: 'Commodore64';
//  src: url('./fonts/Commodore64.eot?#iefix') format('embedded-opentype'),  url('./fonts/Commodore64.woff') format('woff'), url('./fonts/Commodore64.ttf')  format('truetype'), url('./fonts/Commodore64.svg#Commodore64') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'Inconsolata';
}