@import './constants';

// Fonts
@import './font';

// Media Queries
@import './media';

// Animations
@import './animations';

// Baseline
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Inconsolata', sans-serif;
  background-color: #302481;
  overflow: hidden;
  pointer-events: none;

  color: #b6b3ff;

  line-height: 1.15;

  @include mobile {
    font-size: 1rem;
    padding: 5vw 5vw;
  }

  @include laptop {
    font-size: 1.5rem;
    padding: 4vw 6vw 7vw 6vw;
  }

  &:before {
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image: url('./../media/screen-dust.png');
    background-size: cover;
    opacity: 0.75;

    @include mobile {
      box-shadow: inset 0 0 5vw #000000;
    }

    @include laptop {
      box-shadow: inset 0 0 10vw #000000;
    }
  }
}

#app {
  width: 100%;
  height: 100%;

  &:before {
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize(#241b5b,1) 50%, transparentize(darken(#241b5b,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;



  }
}

p {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0;
  margin-bottom: 1.5rem;

}

span {
  white-space: pre-wrap;
  word-break: break-all;
}

img {
  opacity: 0.85;
}

// Components
@import './screen';