#app > main {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  pointer-events: all;

  &.typing {
    overflow-y: hidden;

    .message {
      visibility: hidden;
    }
  }

  .cursor {
    display: inline-block;
    opacity: 0;
    font-weight: bold;
    width: 0.85rem;
    margin-left: 2px;
    background-color: #ada6ff;
  }
  &:not(.typing) {
    .message {
      visibility: visible;
    }
    .cursor {
      animation: blink 1s infinite steps(1, end);
    }
  }
}

.profile {

  @include mobile {
    width: 100%;
  }

  @include laptop {
    height: 35vh;
  }


}